<h1>Categories#destroy</h1>
<p>Find fdfd me in app/views/categories/destroy.html.erb</p>
<p> Hello </p>

# Show categories
<% if @categories.exists? %>
<p> Hi </p>
	<% @categories.each do |category| %>
	<p> Category - id: <%= category.id %> name: <%= category.name %> </p>
<% end %>
<% end %>


<%= form_for @categories do |f| %>
	<!-- check for errors -->
	<% if @categories.errors.any? %>
		<% @categoriescategories.errors.any? %>
			<% @categories.errors.full_messages.each do |msg| %>
			<!-- show erros -->
			<div class="alert alert-danger">
				<%= msg %>
			</div>
			<% end %>
		<% end %>

		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name, class:'form-control' %>
		</div>

		<br>
		<%= f.submit "Submit", class:'btn btn-primary' %>
		<%= link_to "Cancel",categories_path, class:'btn btn-default' %>
<% end %>